body{
    font-family: 'Teko', sans-serif;
}
h1{
    font-size: 45px;
    line-height: 10px;
}
h2{
    font-size: 35px;
    }
.color1{
    color:rgb(231, 103, 57);
}
.font1{
    font-size: 18px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    padding-left: 2%;
    
}
.half-width img{
    width: 70%;
}
#half-half-width{
    line-height: 100%;
}
.button{
    text-decoration: none;
    background-color: rgb(231, 103, 57);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}
.img-1{
    float: left;
    width: 33.33%;
}
.p-p{
    font-size: 40px;
    font-weight:bold;
    text-align: left
}
.web-letter{
    font-weight: bold;
    text-align: center;
}
.box{
    padding:20px;
    margin: 280px;
    border-radius: 6px;

    background-image: url(images/Group_33094_1.png);
    
    background-position: center;
    text-align: center;
}
.work{
    float: left;
    width: 20%;
    margin: top 10px;
}
.chat{
    float: right;
    width: 40%;
    margin: top 30px;
}

